html, body {
    font-size: 16px;
}

body {
    padding-right: 0 !important;
}

.padding {
    padding-left: 0;
    padding-right: 0;
}

.padding-left {
    padding-left: 0;
}

.padding-right {
    padding-right: 0;
}


h2 {
    color: #000;
    font: 2.8rem 'OpenSansBold', sans-serif;
    text-align: center;
    padding: 0 0 4% 0;
    margin: 0;
}

h2:before {
    display: inline-block;
    margin: 0 30px 11px 0;
    height: 2px;
    content: '';
    width: 70px;
    background: #ffd20d;
}

h2:after {
    display: inline-block;
    margin: 0 0 11px 30px;
    height: 2px;
    content: '';
    width: 70px;
    background: #ffd20d;
}

@media (max-width: 991px) {
    h2 {
        font-size: 2rem;
    }
}
@media (max-width: 500px) {
    h2 {
        font-size: 1.4rem;
    }
    h2:before {
        content: '';
        display: none;
    }

    h2:after {
        content: '';
        display: none;
    }
}

ul {
    list-style: none;
}

/*============ Clearfix=========== */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clrearfix {
    zoom: 1;
}

/* ======================== Header =======================*/
header {
    position: absolute;
    width: 100%;
    background: transparent;
    z-index: 10;
}

header .rowContacts {
    padding-top: 25px;
}

header .rowContacts span {
    font: 14px 'OpenSansBold';
    color: #bebebe;
    padding-right: 20px;
}


header .rowContacts  span:before {
    content: '\f095';
    font-family: fa;
    color: #ffd20d;
    padding-right: 6px;
    display: inline-block;
    margin-top: 5px;
}
header .rowContacts a.email{
    font: 14px 'MyriadProBold';
    text-decoration: none;
    color: #bebebe;
    padding-right: 35px;
}

header .rowContacts a.email:before{
    content: '\f0e0';
    font-family: fa;
    color: #ffd20d;
    padding-right: 9px;
}

header .rowContacts a:before {
    font-family: fa;
    color: #ffd20d;
    padding-right: 20px;
}
header .rowContacts .topContacts a:nth-child(3):before {
    content: '\f189 ';

}
header .rowContacts .topContacts a:nth-child(4):before {
    content: '\f09a';
}

header .rowContacts .topContacts a:nth-child(5):before {
    content: '\f16d';
    padding-right: 30px;
}

header .rowMenu {
    min-height: 85px;
}

header .rowMenu .logo img {
    padding-left: 40px;
}
header .rowMenu  .navMenu {
    padding-top: 20px;
}

header .rowMenu  .navMenu .icon-menu {
    display: none;
    height: 33px;
    width: 37px;
    float: right;
    padding: 5px;
    cursor: pointer;
}

header .rowMenu  .navMenu .icon-menu .divide {
    display: block;
    height: 2px;
    margin: 3px 0 4px 0;
    background: #ffd20d;
}

header .rowMenu .navMenu li {
    display: inline-block;
    padding-right: 29px;
}
header .rowMenu .navMenu li a {
    color: #fff;
    font: 14px/18px 'OpenSansSemiBold';
}

header .rowMenu .navMenu li a:active,
header .rowMenu .navMenu li a.active {
    text-decoration: none;
    color: #ffd20d;
}

header .rowMenu  .navMenu ul.sidebar a.first{
    color: #fff;
}


header .rowMenu .navMenu li a:focus {
    outline: none;
    text-decoration: none;
}
header .rowMenu .navMenu li a.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #ffd20d;
    display: block;
    margin: 1px auto;
}

header .rowMenu .navMenu li a:hover {
    text-decoration: none;
}
header .rowMenu .navMenu li a:hover:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #ffd20d;
    display: block;
    margin: 1px auto;
}

/******** Media *********/
@media (max-width: 991px) {
    header .rowMenu .logo img {
        padding-left: 10px;
    }
    header .rowMenu {
        max-height: 40px;
    }
    header .rowMenu  .navMenu {
        padding-top: 10px;
        padding-right: 40px;
    }
    header .rowMenu .navMenu .icon-menu {
        display: block;
        border: 2px solid #ffd20d;
        border-radius: 3px;
        background: rgba(0,0,0,0.4);
    }

    header .rowMenu  .navMenu ul.sidebar {
        position: fixed;
        top: 0;
        padding-top: 20px;
        height: 100%;
        width: 210px;
        max-width: 100%;
        box-shadow: 0 0 7px -1px rgba(0, 0, 0, 0.1);
        background: #fff;
        right: -210px;
        transition: all 1s ease-in-out;
        padding-left: 0;
    }

    header .rowMenu  .navMenu ul.sidebar li {
        display: block;
        padding-top: 10px;
    }

    header .rowMenu  .navMenu ul.sidebar li a {
        display: block;
        color: #000;
        text-transform: uppercase;
    }
    header .rowMenu  .navMenu ul.sidebar a.first{
        color: #000;
    }

    header .rowMenu  .navMenu ul.sidebar li a.active {
        color: #ffd20d;
    }


    header .rowMenu .navMenu li a.active:after {
        content: '';
        display: none;
    }

    header .rowMenu .navMenu li a:hover:after{
        content: '';
        display: none;
    }

    header .rowMenu  .navMenu .sidebar.active {
        right: 0;
    }

    header .rowMenu  .navMenu .overlay-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.6);
        display: none;
    }
}
/****** End Media*******/

/* ======================== The End Header =======================*/


/* ======================== Section Main =======================*/
section#main {
    background: url("../img/background-main.jpg") top center;
    height: 100vh;
    background-size: cover;
}
section#main .head {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 42vh;

}

section#main .head h1 {
    text-transform: uppercase;
    font: 2.8rem 'OpenSansBold';
    color: #fff;
    max-width: 45%;
    margin: 0 auto;
}

section#main .head h1 span {
    color: #ffd20d;
}

section#main .head a {
    position: relative;
    top: 5vh;
    text-decoration: none;
    background: transparent;
    border: 2px solid #ffd20d;
    border-radius: 35px;
    color: #fff;
    font: 18px 'OpenSansSemiBold';
    padding: 12px 25px;
}

section#main .head a:hover {
    color: #000;
    background: #ffd20d;
}

@media (min-width:992px) and (max-width:1199px) {
    section#main .head h1 {
        font-size: 2rem;
        max-width: 90%;
    }
}

@media (max-width:991px) {
    section#main .head h1 {
        font-size: 1.5rem;
        max-width: 90%;
    }
}


/* ======================== The End section Main ====================*/

/* ======================== Section Why =======================*/
section#why {
    background: #fff;
    padding-top: 5%;
    padding-bottom: 3%;
}

section#why .textCenter p {
    color: #000;
    font: 16px 'OpenSansRegular', sans-serif;
    padding-bottom: 30px;
}
section#why .content-advantages .row {

}

section#why .content-advantages .row>img {
    padding-top: 20px;
    padding-bottom: 10px;
}

section#why .content-advantages .row>p {
    font: 1.25rem 'OpenSansRegular';
    color: #000;
    padding-bottom: 20px;
}
section#why .content-advantages .row:nth-child(3)>p{
    padding-bottom: 0;
}

section#why .content-advantages .row:nth-child(3)>p#description-exclusive {
    font: 16px 'OpenSansRegular';
    color: #646464;
}

@media (max-width: 1199px) {
    section#why .content-advantages .row>p {
        font-size: 1rem;
    }
    section#why .content-advantages .row>img {
        padding-top: 0px;
        padding-bottom: 5px;
    }
}

@media (max-width: 991px) {
    section#why .textCenter p {
        font-size: 14px;
    }
    section#why .content-advantages .row:nth-child(3)>p#description-exclusive {
        font-size: 14px;
    }
}


/* ======================== The End section Why =================*/


/* ======================== Section Shares =======================*/
section#shares {
    background: #ffd20d;
    padding-top: 5%;
    height: 90vh;
}
section#shares h2:before,
section#shares h2:after {
    content: '';
    background: #000;
}

/* ======================== The End section Shares =================*/

/* ======================== Section Products =======================*/
section#products {
    background: #fff;
    padding-top: 5%;
    padding-bottom: 3%;
}

section#products  ul li .hovereffect {
    width: 100%;
    height: 100%;
    overflow:hidden;
    position:relative;
    text-align:center;
}

section#products .hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(223,220,210,0.5);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    cursor: pointer;
    padding-top: 45%;
}

section#products .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

section#products .hovereffect>img {
    display:block;
    position:relative;

}

section#products .hovereffect .overlay img {
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;


}
section#products .hovereffect .overlay img:hover {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    opacity: 1;

}

section#products  ul {
    padding-left: 0;
}
section#products  ul li {
    margin-bottom: 15px;
}
section#products  ul li p {
    margin-bottom: 0;
}

section#products  ul li p.name-product,
section#products  ul li p.size {
    font: 1rem 'OpenSansRegular', sans-serif;
    color: #969696;
}

section#products  ul li p.product-description {
    display: none;
}

section#products  ul li p.name-product {
    margin-bottom: 4px;
}


section#products  ul li p.size span {
    color: #000;
    text-transform: uppercase;
}

section#products  ul li p.price {
    font: 1rem 'OpenSansExtraBold';
    color: #000;
    margin-bottom: 3px;
}
section#products  ul li a {
    text-decoration: none;
    color: #000;
    background: transparent;
    font: 14px/3.3rem 'OpenSansBold';
    padding: 6px 32px;
    border-radius:5px;
    border: 2px solid #ffd20d;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    cursor: pointer;

}

section#products  ul li a:hover {
    background: #ffd20d;
}

section#products .load-more p {
    color: #646464;
    font: 20px 'OpenSansBold', sans-serif;
    text-align: center;
    margin-top: 15px;
}

section#products .load-more span {
    cursor: pointer;
}

section#products .load-more p:after {
    content: '';
    width: 25%;
    height: 2px;
    background: #ffd20d;
    display: block;
    margin: 1px auto;

}

@media (max-width: 767px) {
    section#products  ul li {
        text-align: center;
    }
    section#products .hovereffect img {
        margin: 0 auto;
    }
    section#products .hovereffect .overlay {
        padding-top: 27%;
    }

}

@media (max-width: 991px) {
    section#products .load-more p {
        font-size: 1rem;
    }
    section#products .load-more p:after {
        content: '';
        display: none;
    }
}
/* =============The End section products =================*/

/* =============Section Delivery =================*/
section#delivery {
    padding-top: 5%;
    background: #f6f5f1;
}

section#delivery .point p {
    font: 1.25rem 'OpenSansRegular';
    color: #000;
    padding-top: 5px;
}

section#delivery .point1:after {
    content: '';
    display: block;
    background: url("../img/delivery/path1.png") no-repeat;
    height: 100%;
    width: 100%;
}

section#delivery .point1 img:last-child {
    padding-left: 20%;
}
section#delivery .point2 img{
    margin: 0 auto;
    padding-top: 19px;
}

section#delivery .rowPoint2 div:last-child img {
    position: absolute;
    padding-left: 36%;
    margin-top: -4%;
}
section#delivery .point2-2 {
    padding-left: 6%;
}

section#delivery .point2-1 {
    padding-right: 6%;
}
section#delivery .point2-1 img {
    margin: 0 0 1px auto;
}
section#delivery .rowPoint3 {
    padding-top: 9%;
}

section#delivery .rowPoint3  div:last-child>img {
    position: absolute;
    padding-left: 23%;
}

section#delivery .rowPoint4-5 {
    padding-top: 11%;
}

section#delivery .rowPoint4-5 .point4 img,
section#delivery .rowPoint4-5 .point5 img {
    margin: 0 auto;
}
section#delivery .rowPoint4-5 div:nth-child(2)>img {
    position: absolute;
    margin-left: -3%;
    margin-top: -1%;
}

section#delivery .rowPoint4-5 .point4 p:last-child,
section#delivery .rowPoint4-5 .point5 p:last-child {
    font: 1rem 'OpenSansRegular';
    color: #646464;
}
section#delivery .rowPoint4-5 .point5 p:last-child {
    width: 90%;
    margin: 0 auto;
}

section#delivery .rowServicesDelivery div:first-child {
    padding-top: 5%;
}

@media (max-width: 991px) {
    section#delivery .point p {
        font-size: 1rem;
    }
    section#delivery .point1 img,
    section#delivery .point3 img{
        margin: 0 auto;
    }

    section#delivery .rowPoint3,
    section#delivery .rowPoint4-5 {
        padding-top: 15px;
    }

    section#delivery .point {
        padding-top: 15px;
    }
    section#delivery .point2 p {
        padding-top: 17px;
    }

    section#delivery .point2-3 img {
        margin: 0 auto;
        padding-top: 15px;
    }
    section#delivery .rowPoint4-5 .point4 p:last-child,
    section#delivery .rowPoint4-5 .point5 p:last-child {
        font-size: 14px;
    }
}

/* =============The End section delivery =================*/

/* =============Section Help =================*/
section#help {
    padding-top: 4%;
    background: #212121;
    padding-bottom: 3%;
}

section#help .left-help {

}

section#help .left-help h3 {
    color: #fefefe;
    font: 1.7rem 'OpenSansBold';
}

section#help .left-help p {
    color: #fefefe;;
    font: 1.25rem 'OpenSansRegular';
    width: 70%;
    margin: 0 auto;
    padding-top: 15px;
}

section#help .right-form {
    border: 2px solid #ffd20d;
    border-radius: 5px;
    padding-bottom: 30px;
    padding-top: 30px;
    max-width: 350px;
}

section#help  form input {
    height: 55px;
    width: 85%;
    margin: 0 auto 20px;
    color: #000;
    font: 1rem 'OpenSansRegular';
}

section#help  form button {
    background: #ffd20d;
    padding: 12px 25px;
    color: #000;
    border-radius: 30px;
    border:none;
    display: block;
    margin: 30px auto 0;
    font: 1.1rem 'OpenSansSemiBold';
    width: 45%;
}

section#help  form .form-group {
    margin-bottom: 22px;
}

input::-moz-placeholder {
    font: 1rem/2.3rem 'OpenSansRegular';
    color: #969696;
}

.form-control:focus {
    border-color: #ffd20d;
}

@media (max-width: 991px) {
    section#help .left-help h3 {
        font-size: 1.4rem;
    }
    section#help .left-help p {
        font-size: 1rem;
        width: 100%;
    }
    section#help .right-form {
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    section#help form button {
        width: 55%;
    }
}
/* =============The End section help =================*/

/* =============Section Contacts =================*/
section#contacts {
    background: #f6f5f1;
    padding-top: 5%;
    padding-bottom: 3%;
}



section#contacts .right-bracket img {
    float: right;
}

section#contacts .social {

}

section#contacts  .social p {
    font: 1.25rem 'OpenSansRegular';
    color: #000;
    padding-right: 20px;
}


section#contacts  .social  p:before {
    content: '\f095';
    font-family: fa;
    color: #969696;
    padding-right: 10px;
    display: inline-block;
    margin-top: 5px;
}
section#contacts  .social p.email{
    font: 1.25rem 'OpenSansRegular';
    color: #000;
    padding-right: 35px;
    padding-bottom: 4%;
}

section#contacts .social p.email:before{
    content: '\f0e0';
    font-family: fa;
    color: #969696;
    padding-right: 12px;
}
section#contacts  .social a {
    padding-top: 30px;
    text-decoration: none;
}

section#contacts  .social a:before {
    font-family: fa;
    color: #000;
    padding-right: 40px;
    font-size: 1.8rem;
}
section#contacts  .social  a:nth-child(3):before {
    content: '\f189 ';

}
section#contacts  .social  a:nth-child(4):before {
    content: '\f09a';
}

section#contacts  .social  a:nth-child(5):before {
    content: '\f16d';
    padding-right: 30px;
}

section#contacts .questions {
    padding-top: 2%;
}

section#contacts .questions p:first-child {
    color: #000;
    font: 1.7rem 'OpenSansBold';
    padding-bottom: 6px;
}

section#contacts .questions p:nth-child(2) {
    color: #646464;
    font: 1rem 'OpenSansRegular';
}

section#contacts  form {
    padding-top: 30px;
}

section#contacts  form input {
    height: 52px;
    width: 100%;
    color: #000;
    font: 1rem 'OpenSansRegular';
}

section#contacts  form textarea {
    font: 1rem 'OpenSansRegular';
}

textarea.form-control::-webkit-input-placeholder {
    font: 1rem/1rem 'OpenSansRegular';
}

textarea.form-control:-moz-placeholder {
    font: 1rem/1rem 'OpenSansRegular';
}


section#contacts  form button {
    background: #ffd20d;
    padding: 12px 25px;
    color: #000;
    border-radius: 30px;
    border:none;
    display: block;
    margin: 15px auto 0;
    font: 1.1rem 'OpenSansSemiBold';
    width: 27%;
}

section#contacts form .form-group {
    margin-bottom: 18px;
}

section#contacts form .form-control:focus {
    border: 2px solid #ffd20d;
    box-shadow: none;
}

@media (max-width: 1400px) {
    section#contacts .social p.email {
        padding-bottom: 0;
    }
}

@media (max-width: 1199px) {
    section#contacts div.padding-right {
        padding-left: 0;
    }

    section#contacts div.padding-left {
        padding-right: 0;
    }
    section#contacts  form button {
        width: 44%;
    }
}

@media (max-width: 767px) {
    section#contacts  form button {
        width: 90%;
        font-size: 14px;
    }
    section#contacts .social p,
    section#contacts .social p.email{
        padding-right: 0;
    }
    section#contacts .questions p:first-child {
        font-size: 1.2rem;
    }
}

/* =============The End section contacts =================*/


/* ================Modal================================*/
#myModal {
    background: rgba(24,23,23,0.9);
    padding-right: 0px !important;
}
#myModal form input {
    height: 55px;
    width: 90%;
    margin: 0 auto 15px;
    color: #000;
    font: 1rem 'OpenSansRegular';
}

#myModal .modal-dialog {
    margin-top: 12%;
    width: 400px;
}

#myModal .modal-content {
    background: #dfdcd2;
    padding-bottom: 15px;
    padding-top: 15px;
}

#myModal .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

#myModal .modal-header h4 {
    font: 1.6rem 'OpenSansSemiBold';
    color: #000;
}
#myModal .modal-header p#product-modal {
    font: 1rem 'OpenSansRegular';
    margin-bottom: 0;
    padding-top: 10px;
}

#myModal .modal-header p#price-modal {
    font: 1rem 'OpenSansExtraBold';
}
#myModal .modal-footer {
    border-top: none;
    width: 90%;
    margin: 0 auto;
    padding-top: 0;
}

#myModal  form button {
    background: #ffd20d;
    padding: 10px 25px;
    color: #000;
    border-radius: 30px;
    border:none;
    font: 1.1rem 'OpenSansSemiBold';
    width: 100%;
    min-width: 150px;
}

#myModal  form button#cancel-buy {
    background: transparent;
    border: 2px solid #ffd20d;
}

#myModal  form button#cancel-buy:hover {
    background: #ffd20d;
    color: #000;
}

#myModal  form .form-group {
    margin-bottom: 16px;
}

#myModal form .form-control:focus {
    border: 2px solid #ffd20d;
    box-shadow: none;
}

body.modal-open {
    padding-right: 0 !important;
    overflow: auto;
}

@media (max-width: 991px) {
    #myModal .modal-dialog {
        width: 50%;
        margin: 9% auto;
    }
    #myModal .modal-footer div:last-child {
        padding: 10px 0;
    }
    #myModal  form input {
        height: 40px;
    }
    #myModal input::-moz-placeholder {
        font: 14px/28px 'OpenSansRegular';
    }
}

@media (max-width: 650px) {
    #myModal .modal-dialog {
        width: 90%;
        margin: 5% auto;
    }
    #myModal .modal-header h4 {
        font-size: 1.2rem;
    }
    #myModal  form button{
        font-size: 1rem;
    }
}


/* ============= MODAL CLASS =================*/
.price-pop {
    position: absolute;
    bottom: 0;
    color: #fff;
    font: 1.25rem 'OpenSans';
    right: 19%;
}
.buy-modal {
    position: absolute;
    bottom: -10%;
    width: 100%;
    text-align: center;
}
.buy-modal a {
    color: #000;
    background: #ffd20d;
    padding: 10px 40px;
    border-radius: 20px;
    font: 1.125rem 'OpenSansSemiBold';
}
.buy-modal a:hover {
    text-decoration: none;
}

.product-attr {
    color: #969696;
    margin: 0;
    font: 1rem 'OpenSansRegular';
}
.product-width-val  {
    color: #fff;
    font: 1rem 'OpenSansRegular';
}

.product-price-val {
    color: #fff;
    font: 1rem 'OpenSansExtraBold';
}

h3.product-name {
    width: 260px;
    font: 1.25rem 'OpenSansRegular';
    color: #fff;
}


.fancybox-margin {
    margin-right: 0 !important;
}

.fancybox-lock {
    overflow: auto !important;
}

.fancybox-close {
    top: -40px;
    right: -60px;
}

#fancybox-thumbs {
    margin-left: 29%;
}

@media (min-width: 1501px) and (max-width: 1800px) {
    .price-pop {
        right: 13%;
    }
    #fancybox-thumbs {
        margin-left: 25%;
    }
}

@media (min-width: 1290px) and (max-width: 1500px) {
    .price-pop {
        right: 9%;
    }
    #fancybox-thumbs {
        margin-left: 22%;
    }
}

@media (min-width: 1050px) and (max-width: 1289px) {
    .price-pop {
        right: 5%;
        font-size: 1rem;
    }
    #fancybox-thumbs {
        margin-left: 21%;
    }
    h3.product-name {
        font-size: 1rem;
    }
    .product-attr {
        font-size: 0.9rem;
    }
}

@media (min-width: 992px) and (max-width: 1049px) {
    .price-pop {
        right: 3%;
        font-size: 1rem;
    }
    #fancybox-thumbs {
        margin-left: 17%;
    }
    h3.product-name {
        font-size: 1rem;
        width: auto;
    }
    .product-attr {
        font-size: 0.9rem;
    }
}
@media (min-width: 300px) and (max-width: 991px) {
    #fancybox-thumbs, .fancybox-title {
        display: none;
    }
    .fancybox-close {
        top: -32px;
        right: -20px;
    }
    .buy-modal {
        bottom: -12%;
    }
}