html, body {
    font-size: 16px;
}

.body {
    padding-right: 0 !important;
}

.padding {
    padding-left: 0;
    padding-right: 0;
}


h2 {
    color: #000;
    font: 2.8rem 'OpenSansBold', sans-serif;
    text-align: center;
    padding: 0 0 4% 0;
    margin: 0;
}

h2:before {
    display: inline-block;
    margin: 0 30px 11px 0;
    height: 2px;
    content: '';
    width: 70px;
    background: #ffd20d;
}

h2:after {
    display: inline-block;
    margin: 0 0 11px 30px;
    height: 2px;
    content: '';
    width: 70px;
    background: #ffd20d;
}

ul {
    list-style: none;
}

/*============ Clearfix=========== */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clrearfix {
    zoom: 1;
}

/* ======================== Header =======================*/
header {
    position: absolute;
    width: 100%;
    background: transparent;
    z-index: 10;
}

header .rowContacts {
    padding-top: 25px;
}

header .rowContacts span {
    font: 14px 'OpenSansBold';
    color: #bebebe;
    padding-right: 20px;
}


header .rowContacts  span:before {
    content: '\f095';
    font-family: fa;
    color: #ffd20d;
    padding-right: 6px;
    display: inline-block;
    margin-top: 5px;
}
header .rowContacts a.email{
    font: 14px 'MyriadProBold';
    text-decoration: none;
    color: #bebebe;
    padding-right: 35px;
}

header .rowContacts a.email:before{
    content: '\f0e0';
    font-family: fa;
    color: #ffd20d;
    padding-right: 9px;
}

header .rowContacts a:before {
    font-family: fa;
    color: #ffd20d;
    padding-right: 20px;
}
header .rowContacts .topContacts a:nth-child(3):before {
    content: '\f189 ';

}
header .rowContacts .topContacts a:nth-child(4):before {
    content: '\f09a';
}

header .rowContacts .topContacts a:nth-child(5):before {
    content: '\f16d';
    padding-right: 30px;
}

header .rowMenu {
    min-height: 85px;
}

header .rowMenu .logo img {
    padding-left: 40px;
}
header .rowMenu  .navMenu {
    padding-top: 20px;
}

header .rowMenu  .navMenu .icon-menu {
    display: none;
    height: 33px;
    width: 37px;
    float: right;
    padding: 5px;
    cursor: pointer;
}

header .rowMenu  .navMenu .icon-menu .divide {
    display: block;
    height: 2px;
    margin: 3px 0 4px 0;
    background: #ffd20d;
}

header .rowMenu .navMenu li {
    display: inline-block;
    padding-right: 30px;
}
header .rowMenu .navMenu li a {
    color: #fff;
    font: 14px/18px 'OpenSansSemiBold';
}

header .rowMenu .navMenu li a:active,
header .rowMenu .navMenu li a.active {
    text-decoration: none;
}

header .rowMenu .navMenu li a:focus {
    outline: none;
}
header .rowMenu .navMenu li a.active:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #ffd20d;
    display: block;
    margin: 1px auto;
}

header .rowMenu .navMenu li a:hover {
    text-decoration: none;
}
header .rowMenu .navMenu li a:hover:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #ffd20d;
    display: block;
    margin: 1px auto;
}

/******** Media *********/
@media (max-width: 991px) {

    header .rowMenu {
        max-height: 40px;
    }
    header .rowMenu .navMenu .icon-menu {
        display: block;
        border: 2px solid #ffd20d;
        border-radius: 3px;
        background: #fffcff;
    }

    header .rowMenu  .navMenu ul.sidebar {
        position: fixed;
        top: 0;
        padding-top: 20px;
        height: 100%;
        width: 190px;
        max-width: 100%;
        box-shadow: 0 0 7px -1px rgba(0, 0, 0, 0.1);
        background: #fff;
        right: -200px;
        transition: all 1s ease-in-out;
    }

    header .rowMenu  .navMenu ul.sidebar li {
        display: block;
        padding-top: 10px;
    }

    header .rowMenu  .navMenu ul.sidebar li a {
        display: block;
        color: #000;
        text-transform: uppercase;
    }

    header .rowMenu  .navMenu ul.sidebar li a.active {
        color: #ffd20d;
    }

    header .rowMenu .navMenu li a.active:after {
        content: '';
        display: none;
    }

    header .rowMenu .navMenu li a:hover:after{
        content: '';
        display: none;
    }

    header .rowMenu  .navMenu .sidebar.active {
        right: 0;
    }

    header .rowMenu  .navMenu .overlay-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.6);
        display: none;
    }
}
/****** End Media*******/

/* ======================== The End Header =======================*/


/* ======================== Section Main =======================*/
section#main {
    background: url("../img/background-main.jpg");
    height: 100vh;
    background-size: cover;

}
/* ======================== The End Main =======================*/

/* ======================== Section Products =======================*/
section#products {
    background: #fff;
    padding-top: 5%;
    padding-bottom: 3%;
}

section#products  ul li .hovereffect {
    width: 100%;
    height: 100%;
    overflow:hidden;
    position:relative;
    text-align:center;
}

section#products .hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(223,220,210,0.5);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    cursor: pointer;
    padding-top: 45%;
}

section#products .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

section#products .hovereffect>img {
    display:block;
    position:relative;

}

section#products .hovereffect .overlay img {
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;


}
section#products .hovereffect .overlay img:hover {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    opacity: 1;

}

section#products  ul li {
    margin-bottom: 15px;
}
section#products  ul li p {
    margin-bottom: 0;
}

section#products  ul li p.name-product,
section#products  ul li p.size {
    font: 1rem 'OpenSansRegular', sans-serif;
    color: #969696;
}

section#products  ul li p.name-product {
    margin-bottom: 4px;
}

section#products  ul li p.name-product:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #000;
}

section#products  ul li p.size span {
    color: #000;
    text-transform: uppercase;
}

section#products  ul li p.price {
    font: 1rem 'OpenSansExtraBold';
    color: #000;
    margin-bottom: 3px;
}
section#products  ul li a {
    text-decoration: none;
    color: #000;
    background: transparent;
    font: 14px/3.3rem 'OpenSansBold';
    padding: 6px 32px;
    border-radius:5px;
    border: 2px solid #ffd20d;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;

}

section#products  ul li a:hover {
    background: #ffd20d;
}

section#products .load-more p {
    color: #646464;
    font: 20px 'OpenSansBold', sans-serif;
    text-align: center;
    margin-top: 15px;
}

section#products .load-more span {
    cursor: pointer;
}

section#products .load-more p:after {
    content: '';
    width: 25%;
    height: 2px;
    background: #ffd20d;
    display: block;
    margin: 1px auto;

}


/* =============End section products =================*/


